.Data{
    top: 0;
    left: 0;
  height: 52%;
   width: 122%;
    margin-top: 28px;
     margin-left: 13%;
     position: fixed;
}

.grid{
    margin-left: 13% ;
    width: 86%;
    margin-top: 1%;

}

.stack{
    margin-left: 24% ;
    margin-top: 1%;
}
.scroll-grid {
    height: 400px; /* You can adjust the height as needed */
    overflow-y: auto;
  }
  