.navbar {
  height: 50px;
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 14px;
 
  .wrapper {
    width: 100%;
    margin-top: 24px;
    padding: 20px;
    display: flex;
    flex: 1; 
    align-items: center;
    justify-content: space-between;
    
    .items {
      display: flex;
      flex: 1;
      align-items: center;
    
      .item {
        display: flex;
        align-items: center;
        margin: 70px;
        cursor: pointer;
        position: relative;

        .icon {
          align-items: flex-end;
        }

       
      }
      .avatar {
        margin-left: 112px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      
    }
  }
  

  .space {
    display: flex;
    flex: 7;
    justify-content: space-between;
  
  }
 
}

